<h1 align="center"> Welcome on our main page</h1>
<h3 align="center"> Get Better Together Team</h3>
<div align="center"><a href="/login"> Log In </a></div>
<br>
<div align="center"><a href="/profile"> Show my board </a></div>