<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="{{ asset('css/main.css') }}" rel="stylesheet">
<div align="center">
<div class="container">
    <div class="masthead">
<nav>
    <ul class="nav nav-justified">
        <li class="active"><a href="http://localhost:8000/">Home</a></li>
        <li><a href="http://localhost:8000/task/">Tasks</a></li>
        <li><a href="http://localhost:8000/category/">Categories</a></li>
        <li><a href="http://localhost:8000/profile/">Profile</a></li>
        <li><a href="#">User</a></li>
    </ul>
</nav>
    </div>
</div>
</div>

